@charset "UTF-8";

.main {
  background-color: rgba(67, 68, 66, 0.49);
}
.titulo {
  text-align: center;
  text-decoration: underline;
  text-shadow: -1px -1px white, 1px 1px #333;
}
.dados {
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px 2px rgb(224, 224, 224);
}
input, select, textarea, label {
  padding: 4px;
  margin: 5px;
  border-radius: 4px;
}
  .especial {
  height: auto;
}
input:focus, select:focus, textarea:focus {
  background-color: rgba(226, 0, 0, 0.64);
}
.rodape {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-style: italic;

}
